@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';

body {
    background: #efefef;
    color: #ff5619;
}

.container {
    width: 75%;
    padding-left: 10px;
}

label {
    font-size: 15px;
}

.my-valid {
    padding: 5px 0 5px 5px;
    font-size: 16px;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 3px;
    border: 1px solid rgba(255, 86, 25, .5);
    background-color: #B7F0D0;
}

.my-invalid{
    padding: 5px 0 5px 5px;
    font-size: 16px;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 3px;
    background-color: rgba(247,76,83, 0.5);
    border: 1px solid #f74c53;
}

input[type=number]::-webkit-outer-spin-buttoon,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-style {
    padding: 5px 0 5px 5px;
    font-size: 16px;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 3px;
    border: 1px solid rgba(255, 86, 25, .5);
    box-shadow: inset 0 0 2px 0 rgba(255, 86, 25, .4);
}

.title {
    position: relative;
    border-bottom: 3px solid #ff5619;
    padding-bottom: 5px;
    margin-top: 20px;
}

.title1 {
    font-family: 'Josefin Sans', sans-serif;
    display: inline;
    padding: 10px 10px 10px 0;
    font-weight: bold;
}
.title2{
    position: absolute;
    right: 0;
    top: -14px;
    display: inline;
    color: rgba(214, 77, 28, 0.37);
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 50px;
}

.question {
    font-size: 12px;
}

select {
    font-size: 16px;
    border: 1px solid rgba(255, 86, 25, .5);
    box-shadow: inset 0 0 2px 0 rgba(255, 86, 25, .4);
    padding: 5px 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}

button#btn-continue {
    display: block;
    margin: 17px auto;
    width: 20%;
    text-align: center;
    padding: 10px 15px;
    background-color: #ff5619; 
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 20px; 
    transition: color .2s;
    text-transform: uppercase;
}

button#btn-continue:hover{
    color: #fff;   
}

button#btn-continue:focus,
button#btn-continue:active {
    outline: none;
}